*{
margin: 0;
padding: 0;
}

body{
background-color: #bde3ff;
font-family: tahoma;
margin: 0;
}

#navegacao{
width: 100%;
height: 30pt;
background-color: white;
text-align: right;
font-size: 12pt;
}



nav ul li{
display: inline-block;
margin: 7.5pt 30pt 7.5pt 0pt;
}
#logo{
width: 100%;
height: 60pt;
background-color: #0d99ff;
border-radius: 5px;

}
a {
    color: #0963a3;
    text-decoration: solid ;
    }
    
a:hover {
    color: #053d64;
    text-decoration: solid ; 
    }
#imagem{
padding: 2.5pt 15pt;
}

footer{
clear: both;
width: 100%;
height: 20pt;
background-color: white;
text-align: center;
}

#titulo{
    h1{font-size: 400%;
        text-align: center;
        font-weight: normal;
        margin:0
    }

    p{font-size: 200%;
      text-align: center;
      margin:0
    }
    }

/*Daqui para baixo pode ser criado as cofigurações css de sua página*/

#conteudo{
    h{font-size: xx-large;
      text-align: center;
      font-weight: normal;
      margin:0    
    }

    color:  white;
    display: inline-block;
    background-color:#0d99ff;   
    width: 40%;
    margin: 40px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 7px;
    }

    h2{font-size: xx-large;
        text-align: center;
        font-weight: normal;
    }

    #conteudo2{
        display: inline;
        margin: -70px;
        padding: 0px;      
    }

    
   
#parte2{
    

    h3{ font-size: 150%;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        background-color: white;   
        width: 45%;
        margin: 30px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 7px;

        #saibamais{ 
            text-align: right;
            color: white;
            background-color:#0d99ff;
            border: white;
            display: inline;
            position:absolute; 
            right:53%;
            padding: 5px;
            
         

        }

    }


    h4{font-size: 150%;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        background-color: white;   
        width: 45%;
        margin: 30px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 7px;

        #saibamais{ 
            color: white;
            background-color:#0d99ff;
            display: inline;
            border: white;
            position:absolute; 
            left:90%;
            padding: 5px;
            
             


    }
}
}
   

