* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #bde3ff;
    font-family: tahoma;
    margin: 0;
}

#navegacao {
    width: 100%;
    height: 30pt;
    background-color: white;
    text-align: right;
    font-size: 12pt;
}

nav ul li {
    display: inline-block;
    margin: 7.5pt 30pt 7.5pt 0pt;
}
#logo {
    width: 100%;
    height: 60pt;
    background-color: #0d99ff;
    border-radius: 5px;
}
a {
    color: #0963a3;
    text-decoration: solid;
}

a:hover {
    color: #053d64;
    text-decoration: solid;
}
#imagem {
    padding: 2.5pt 15pt;
}

footer {
    clear: both;
    width: 100%;
    height: 20pt;
    background-color: white;
    text-align: center;
}

#titulo {
    h1 {
        font-size: 400%;
        text-align: center;
        font-weight: normal;
        margin: 0;
    }

    p {
        font-size: 300%;
        text-align: center;
        margin: 10px;
    }
}

/*Daqui para baixo pode ser criado as cofigurações css de sua página*/

.div1 {
    display: flex;
    width: 100%;
}

.imagemPrincipal {
    margin-left: -10%;
    border-radius: 5px;
}

.tamanho50-100 {
    width: 50%;
}

.tamanho80 {
    width: 80%;
}
.tamanho100 {
    width: 100%;
}

.textobranco {
    color: white;
}

@media screen and (max-width: 950px) {
    .letramenor {
        font-size: small;
    }
    .div1 {
        display: grid;
    }
    .tamanho50-100 {
        width: 100%;
    }
    .imagemPrincipal {
        margin-left: 0;
    }
    #conteudo {
        margin-bottom: 10px;
    }
    nav ul li {
        margin: 0 2px 0 2px;
    }
    footer {
        font-size: small;
    }
}

#conteudo {
    background-color: #0d99ff;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 7%;

    p {
        font-size: x-large;
        text-align: justify;
    }

    h1 {
        font-size: xx-large;
        font-weight: normal;
        text-align: center;
    }
}

#conteudo2 {
    align-content: center;
}

h2 {
    font-size: xx-large;
    text-align: center;
    font-weight: normal;
}

#parte2 {
    h3 {
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        background-color: white;
        width: 45%;
        margin: 30px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 7px;
    }

    h4 {
        font-size: 150%;
        font-weight: normal;
        text-align: center;
        display: inline-block;
        background-color: white;
        width: 45%;
        margin: 30px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 7px;
    }

    .saibamais {
        text-align: end;
        text-transform: uppercase;
        word-spacing: 2px;
        color: white;
        background-color: #0d99ff;
        border: white;
        float: right;
        letter-spacing: 1px;
        padding: 3px;
        margin: 5px;
    }
}
